
body {
  background: #ffffff;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #404070;
}

h1 {
  font-size: 2.5em;
  display: block;
  margin: 0;
  padding: 0.5em;
  color: #ffffff;
  background-color: #96afcc;
  background-image: url(/resources/images/foaf.png);
  background-position: center right;
  background-repeat: no-repeat;
}

h1 a, h1 a:active, h1 a:hover, h1 a:visited {
  color: #ffffff;
  text-decoration: none;
}

h2 {
  width: 100%;
  margin-top: 2em;
  border-bottom: 1px solid #404070;
}

img {
  border: 0;
}

div#content {
  margin: 2em;
}

.accessibility {
  display: none;
}

ol#experiments {
  list-style: none;
}

ol#experiments > li {
  background-color: #eeeeee;
  margin: 2em;
  padding: 1em;
  font-family: monospace;
}

ol#experiments > li > h3 {
  font-weight: bold;
  margin: 0.1em;
}

div#foot {
  text-align: right;
  margin: 2em;
}
