<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<link rel="Stylesheet" href="/foaf-resources/css/style.css" type="text/css" />
<head>
<title>
 Futil: How i learned to stop worrying and love the FOAF
</title>
</head>
<body>
<div id="header">
<img src="/foaf-resources/img/logo.png" alt="f"/>
</div>
<div id="bodypart">
<a href="http://www.foaf-project.org/">What's FOAF?</a>
<a href="http://www.ldodds.com/foaf/foaf-a-matic.html">Create your FOAF!</a>
<form method="get" action="#">
  <p class="centered">A foaf url, name or sha: <input id="textbox"
  type="text" name="guy" value="http://"/>
  <button type="submit">Show it!</button></p>
</form>
</div>
<div id="footer">
This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version. You can
<a href="https://developer.berlios.de/projects/futil/">download
source code here</a>. Send your suggestions and opinions to
ivan DOT frade AT gmail DOT com.
</div>
</body>
</html>