
body {
  background: white; 
}

h1, h2, h3, h4, h5, h6 {
  color: #404070;
}

h1 {
  font-size: 2em;
}

h2 {
  width: 100%;
  margin-top: 2em;
  border-bottom: 1px solid #404070;
}

.accessibility {
  display: none;
}
