html {
	background:white;
}

body {
  margin-left: 20%;
  margin-right: 20%;
}

#header { 
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
}

#bodypart {
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  margin-bottom: 0px;
  margin-top:10px;
  text-align: center;
}

#bodypart { 
  margin-right: 4%;
  font-size: small;
}

#bodypart ul#aboutfoaf {
  text-align: center;
  margin: 2em;
}

#bodypart ul#aboutfoaf li {
  display: inline;
  margin: 1em;
}

#bodypart input { 
  margin-left: 0.1em;;
  margin-right: 0.1em;;
}

#bodypart button { 
  margin-left: auto;
  margin-right: auto;
}

.spell_link {
  display: none;
}

img {
  border: 0;
  margin: 0.1em;
}

p {
  text-align: justify;
}

.accessibility {
  display: none;
}

#footer { 
  margin-left:auto;
  margin-right: auto;
  margin-top: 6em;
  font-size: 0.7em;
}
